@charset "utf-8";
body h2 {
}
.list_contact {
    color: #F16C6E;
    background-color: #F0D9DA;
}
body {
    color: #0B0B0B;
}
.list_contacttt {
    color: #EFDFDF;
    background-color: #E55D5F;
}
